name: CI

on:
  push:
    branches:
      - "master"

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: "Build tests"
        run: |
          cmake -DBUILD_TESTING=true -B build
          cmake --build build

      - name: "Run tests"
        run: |
          ./build/rtk_unit_tests